In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import datetime as dt

In [3]:
df = pd.read_csv('JC-201808-citibike-tripdata.csv')
# df = df.drop(['Unnamed: 0', 'Unnamed: 1'], axis = 1)
df_copy = df
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,903,2018-08-01 06:40:33.3610,2018-08-01 06:55:37.1060,3183,Exchange Place,40.716247,-74.033459,3270,Jersey & 6th St,40.725289,-74.045572,29612,Subscriber,1977,1
1,78,2018-08-01 08:21:00.1450,2018-08-01 08:22:18.6310,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29791,Subscriber,1975,1
2,405,2018-08-01 08:43:52.5150,2018-08-01 08:50:37.6140,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29571,Subscriber,1973,1
3,155,2018-08-01 09:48:24.9450,2018-08-01 09:51:00.9360,3183,Exchange Place,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,29504,Subscriber,1971,1
4,453,2018-08-01 12:15:35.1230,2018-08-01 12:23:08.8880,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,33669,Subscriber,1993,1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44432 entries, 0 to 44431
Data columns (total 15 columns):
tripduration               44432 non-null int64
starttime                  44432 non-null object
stoptime                   44432 non-null object
start station id           44432 non-null int64
start station name         44432 non-null object
start station latitude     44432 non-null float64
start station longitude    44432 non-null float64
end station id             44432 non-null int64
end station name           44432 non-null object
end station latitude       44432 non-null float64
end station longitude      44432 non-null float64
bikeid                     44432 non-null int64
usertype                   44432 non-null object
birth year                 44432 non-null int64
gender                     44432 non-null int64
dtypes: float64(4), int64(6), object(5)
memory usage: 5.1+ MB

In [7]:
df = df.drop(df.index[(df['tripduration'] > 10800)])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44323 entries, 0 to 44431
Data columns (total 15 columns):
tripduration               44323 non-null int64
starttime                  44323 non-null object
stoptime                   44323 non-null object
start station id           44323 non-null int64
start station name         44323 non-null object
start station latitude     44323 non-null float64
start station longitude    44323 non-null float64
end station id             44323 non-null int64
end station name           44323 non-null object
end station latitude       44323 non-null float64
end station longitude      44323 non-null float64
bikeid                     44323 non-null int64
usertype                   44323 non-null object
birth year                 44323 non-null int64
gender                     44323 non-null int64
dtypes: float64(4), int64(6), object(5)
memory usage: 5.4+ MB

In [12]:
df.index[(df['tripduration']> 2700)]

Int64Index([  195,   196,   197,   343,   844,   916,   937,   953,  1044,
             1045,
            ...
            43925, 43926, 44031, 44122, 44230, 44386, 44387, 44388, 44402,
            44404],
           dtype='int64', length=669)

In [13]:
df_sample = df.sample(frac = 0.1, random_state = 0)

In [17]:
df=df.drop(['starttime'], axis = 1)
df=df.drop(['stoptime'], axis = 1)
df=df.drop(['start station name'], axis = 1)
df=df.drop(['end station name'], axis = 1)
df=df.drop(['start station latitude'], axis = 1)
df=df.drop(['end station latitude'], axis = 1)
df=df.drop(['usertype'], axis = 1)
df=df.drop(['birth year'], axis = 1)
df=df.drop(['gender'], axis = 1)

In [18]:
df

,tripduration,start station id,start station longitude,end station id,end station longitude,bikeid
0,903,3183,-74.033459,3270,-74.045572,29612
1,78,3183,-74.033459,3184,-74.033552,29791
2,405,3183,-74.033459,3202,-74.033759,29571
3,155,3183,-74.033459,3275,-74.038914,29504
4,453,3183,-74.033459,3273,-74.042884,33669
5,336,3183,-74.033459,3211,-74.046305,29573
6,462,3183,-74.033459,3267,-74.038526,33651
7,346,3183,-74.033459,3213,-74.047727,29450
8,649,3183,-74.033459,3278,-74.048790,29595
9,298,3183,-74.033459,3267,-74.038526,33603
10,268,3183,-74.033459,3186,-74.043117,26240
11,299,3183,-74.033459,3267,-74.038526,26274
12,495,3183,-74.033459,3203,-74.044247,33571
13,287,3183,-74.033459,3186,-74.043117,29681
14,537,3183,-74.033459,3192,-74.055701,26268
15,464,3183,-74.033459,3279,-74.049968,29608
16,1611,3183,-74.033459,3281,-74.057271,29234
17,1699,3183,-74.033459,3281,-74.057271,26215
18,344,3183,-74.033459,3267,-74.038526,26189
19,338,3183,-74.033459,3267,-74.038526,33608
20,517,3183,-74.033459,3199,-74.032108,29647
21,282,3183,-74.033459,3185,-74.043845,33617
22,294,3183,-74.033459,3267,-74.038526,29253
23,272,3183,-74.033459,3267,-74.038526,29504
24,268,3183,-74.033459,3267,-74.038526,33559
25,109,3183,-74.033459,3639,-74.034234,29201
26,1378,3183,-74.033459,3195,-74.063784,33676
27,274,3183,-74.033459,3186,-74.043117,31326
28,1591,3183,-74.033459,3220,-74.059503,29299
29,1637,3183,-74.033459,3196,-74.043991,33658
...,...,...,...,...,...,...
44401,2626,3694,-74.078900,3193,-74.078406,29216
44402,5795,3694,-74.078900,3639,-74.034234,29280
44403,1437,3694,-74.078900,3280,-74.071262,29522
44404,2749,3694,-74.078900,3280,-74.071262,26312
44405,1036,3694,-74.078900,3694,-74.078900,26312
44406,949,3694,-74.078900,3211,-74.046305,26230
44407,1343,3694,-74.078900,3203,-74.044247,26249
44408,1623,3694,-74.078900,3681,-74.037683,33576
44409,1560,3694,-74.078900,3681,-74.037683,29621
44410,1560,3694,-74.078900,3681,-74.037683,29210
44411,1492,3694,-74.078900,3199,-74.032108,29581
44412,895,3694,-74.078900,3192,-74.055701,29623
44413,895,3694,-74.078900,3192,-74.055701,29122
44414,864,3694,-74.078900,3192,-74.055701,29647
44415,770,3694,-74.078900,3195,-74.063784,26174
44416,1848,3694,-74.078900,3199,-74.032108,29497
44417,1073,3694,-74.078900,3185,-74.043845,29244
44418,510,3694,-74.078900,3279,-74.049968,29628
44419,1090,3694,-74.078900,3194,-74.067622,29486
44420,1106,3694,-74.078900,3203,-74.044247,33597
44421,205,3694,-74.078900,3694,-74.078900,29305
44423,1331,3694,-74.078900,3677,-74.071061,26312
44424,501,3694,-74.078900,3694,-74.078900,29305
44425,1116,3694,-74.078900,3191,-74.083639,26252
44426,2444,3694,-74.078900,3193,-74.078406,29493
44427,462,3694,-74.078900,3194,-74.067622,29544
44428,636,3694,-74.078900,3195,-74.063784,29544
44429,954,3694,-74.078900,3183,-74.033459,29526
44430,920,3694,-74.078900,3184,-74.033552,33633
44431,1017,3694,-74.078900,3211,-74.046305,29288